.photo-gallery {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;

}

.photo-item {
  flex: 0 0 400px;
  scroll-snap-align: start;
}

.photo-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.photo-item p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}