
       .image-wrapper {
  display: flex;
  flex-direction: column; /* Bild und Text untereinander */
  align-items: left;    /* Zentriert Bild und Text horizontal */
  width: 90%;           /* Breite des Containers festlegen */
  border-bottom: 1px solid #ccc; /* Optional: Rahmen */
  padding: 10px;          /* Optional: Innenabstand */
}

.image-wrapper img {
  max-width: 100%;       /* Bild passt sich dem Wrapper an */
  height: auto;
  margin-bottom: 2px;   /* Abstand zwischen Bild und Text */
  align-items: left;
}

.image-caption {
  text-align: center;     /* Text zentrieren */
  font-size: 14px;
  color: #333;
}


