#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 150px;
    width: 150px;
}
.nav{
    grid-column: 2/3;
    grid-row: 1/2;
}
.menu{
    grid-column: 3/4;
    grid-row: 1/2;
}


.ti1{
    grid-column: 1/4;
    grid-row: 2/3;
    object-fit: cover;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gab:2px;
}