/* Responsive design
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .aside {
        width: 100%;
        min-height: auto;
    }

    .navbar, .header, .footer {
        height: auto;
    }
}
*/
/* Main content area */
.main {
    background-color: #0000000;
    color: #000000;
    padding: 20px;
    flex: 1;
    min-height: 430px;
    width: 80%;
}
/* Main container for main content and aside */
.container {
    display: flex;
    flex: 1;
}