.container {
display: grid;
grid-template-rows: 200px 1fr 100px;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: baseline
}

nav {

  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:2;
  }

.flex-item img {
width: 8%;

}
.flex-container {
display: flex;
flex-direction: column;
}
.flex-item {
display: flex
min-width: 0;
width: 5%%;

}


.flex-text {
.flex-text {
display: flex
}